<head>
    <title>TinyURL - Local URL Shortener</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/home.css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class='myContent'>
        <header>
          <% include ./partials/_header %>
        </header>
    <div class='top clearfix'>
        <h2 class='title'>my links </h2>
        <a href='/urls/new' style='text-decoration: none'><i class="material-icons addLink md-36">add_box</i></a>
    </div>
    <div class='divider'></div>  
    <div>
        <% for (key in urls) { %>
        <table class='myGrid'>
            <tr>
                <td>
                <form method='post' action='/urls/<%= key%>'>
                    <p class='pushLeft'>
                        <a class='shortLink' href='/u/<%= key %>'><%= key %></a> &middot; <%= urls[key]%>
                    </p>
                </td>
                <td>
                    <form method='post' action='/urls/<%= key%>'>
                        <button class='defaultButton leftButton' style='display: inline'><i class="material-icons">clear</i></button></li>
                    </form>
                </td>
                <td>
                    <form action='/urls/<%= key %>'>
                        <button class='defaultButton' style='display: inline'><i class="material-icons">create</i></button>
                    </form>
                </form>
                </td>
            </tr>
        </table>
        <% }; %>
    </div>
</body