<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body class='container'>
        <header>
            <% include ./partials/_header %>
        </header>

        <div>
<% if (user) { %>
            <h3>URL's</h3>
            <% } %>
                <% for (key in urls) { %>
                    <form method="post" action="/urls/<%= key%>">
                       
                            <li style="list-style-type: none"><a href='/urls/<%= key %>'><%= key %></a> - <%= urls[key]%> - <form method="post" action="/urls/<%= key%>"><button style="display: inline">Delete!</button></form><form action='/urls/<%= key %>'><button style="display: inline">Edit!</button></form></li>
                                

                   
                <% }; %>
            <% if (user) { %>
            <h2><a href="/urls/new">Add a new URL</a></h2>
             <% } %>
        </div>
    </body>
</html>